.product {
  width: 100%;

  &_image {
    width: 100%;
  }

  .carousel {
    position: relative;

    .carousel_nav {
      @include flex_between;
      position: absolute;
      width: 95%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      button {
        background: $white;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        img {
          width: 0.7rem;
        }
      }
    }
  }

  .product_info {
    h5 {
      color: $orange;
    }

    h2 {
      color: $very_vark_blue;
      margin-top: 0.8rem;
    }

    p {
      color: $dark_grayish_blue;
      margin-top: 0.8rem;
      line-height: 1.5rem;
    }

    .price {
      @include flex_between;
      padding: 0;
      margin-top: 0.8rem;

      .discount {
        @include flex_between;

        h2 {
          margin-right: 0.4rem;
        }

        .percentage {
          background: $pale_orange;
          padding: 0.1rem 0.5rem;
          color: $orange;
          font-weight: 700;
          font-size: 0.8rem;
          border-radius: 0.2rem;
        }
      }

      .main {
        color: $grayish_blue;
        text-decoration: line-through;
      }

      h2 {
        margin: 0;
      }
    }
    .product_count {
      @include flex_between;
      @include border-radius;
      background-color: $light_grayish_blue;
      margin-top: 1rem;

      span {
        font-weight: 700;
      }
    }
    .add_to_cart {
      @include flex;
      @include border-radius;
      @include section_pad;
      background: $orange;
      margin-top: 0.4rem;
      justify-content: center;
      width: 100%;

      .cart {
        path {
          fill: #fff;
        }
        margin-right: 0.8rem;
      }

      span {
        color: $white;
        font-weight: 700;
      }
    }
  }
}
