// uniform padding for various sections
@mixin section_pad {
  padding: 1rem 1.5rem;
}

.sec_pad_x {
  padding: 0rem 1.5rem;
}

.sec_pad_y {
  padding: 1.5rem 0rem;
}

@mixin flex {
  display: flex;
  align-items: center;
}
@mixin flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_y {
  display: flex;
  align-items: center;
  flex-direction: column;
}
