.cart_container {
  .cart_button {
    margin-right: 0.8rem;
  }
  .cart {
    position: fixed;
    top: 3.8rem;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 3;

    .inner {
      background: #fff;
      width: 95%;
      margin: 0 auto;
      border-radius: 0.5rem;

      hr {
        background: rgba(0, 0, 0, 0.251);
        outline: none;
        border: 1px solid;
      }
    }
  }
}
